@using Deloitte.Web

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deloitte</title>
    @Styles.Render("~/Content/auth-styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="container"></header>
    <div class="container body-content">
        <header>
            <div id="userMenu">
                @if (User.Identity.IsAuthenticated)
                {
                    <span>Welcome, @(Session[SessionKeys.Username] ?? User.Identity.Name)</span>
                    <span>&nbsp;|&nbsp;</span>
                    <span>@Html.ActionLink("Log out", "logout", "account") </span>
                }
            </div>
        </header>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year | &copy;All rights reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
