@model IList<Deloitte.Contracts.UserData>

@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <h2>Users</h2>
    <table class="grid"> 
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td><span>@(i + 1)</span></td>
                    <td><span>@Html.ActionLink(Model[i].Name, "Details", "User", new { @id = Model[i].Id}, new { })</span></td>
                    <td><span>@Html.Raw(Model[i].Company)</span></td>
                    <td><span>@Html.Raw(Model[i].Email)</span></td>
                    <td><span>@Html.Raw(Model[i].Phone)</span></td>
                    <td>
                        @foreach (var tag in Model[i].Tags)
                        {
                            <span>#@Html.Raw(tag)</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>


