@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deloitte</title>
    @Styles.Render("~/Content/anonymous-styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="body-content">
        <div class="login-left-panel"> </div>
        <div class="login-right-panel">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="title">Login to Deloitte.</span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Login, new { @class = "col-md-10 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Login, "")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            <input id="loginBtn" type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
            <footer>
                <p>&copy; @DateTime.Now.Year | &copy;All rights reserved</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
